@import 'styles/variables.scss';
@import 'styles/mixins.scss';

h3 {
  &.MuiPickersToolbarText-toolbarTxt {
    color: rgba(255, 255, 255, 0.54) !important;
    font-size: 3rem !important;
  }
}

.cleaveField {
  border: 1px solid $textColor;
  overflow: hidden;
  @include border-radius(4px);

  + .required {
    bottom: -60px;
  }

  .cleavePhoneExt {
    fieldset {
      border: none;
      border-right: 1px solid #000 !important;
      @include border-radius(0px);
    }

    .MuiInputBase-formControl {
      outline: none;
      box-shadow: none;
      width: 65px;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
      }
    }

    .MuiSelect-selectMenu {
      padding: 13px 6px 11.2px 27px;

      &:focus,
      &:hover,
      &:active {
        background: none;
        outline: none;
        box-shadow: none;
      }
    }

    svg {
      right: inherit;
      left: 3px;
    }
  }

  .cleaveSelect {
    width: calc(100% - 65px);
    margin: 0 !important;
    height: 41px;
    input {
      width: 100%;
      height: 100%;
      outline: none;
      padding: 6px;
    }
  }
}

.endAdorn {
  padding: 10px !important;
  font-size: 12px !important;
  p {
    padding: 0 !important;
  }
}

.endadornment_end {
  margin-top: 0px !important;
}

.text-email {
  label {
    color: $textColor !important;

    + div {
      &:after {
        border-bottom-color: transparent !important;
      }
    }
  }

  p {
    display: none;
  }
}
.checkbox_field {
  font-size: 9.75pt;
  // color: $primary;
  font-weight: $font_light;

  svg {
    // color: $primary;
    font-size: 9.75pt;
  }

  &.Mui-disabled {
    svg {
      opacity: 0.5;
    }
  }

  .MuiTypography-body1 {
    font-size: inherit;
  }
}

.switch-field {
  color: $primary;
  margin: 0 !important;

  &.Mui-disabled {
    span {
      color: rgba($primaryRGB, 0.5);
    }
  }
}

.text-area {
  width: 100%;
  margin-bottom: 6px !important;
  @include border-radius(4px 4px 0 0);
  position: relative;

  label {
    color: $primary;
    font-weight: 300;
    transform: translate(12px, 16px) scale(1);
    z-index: 1;
    font-size: 15px;
    top: 0;
    left: 0;
    position: absolute;
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
      transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  }

  .textArea-field {
    width: 100%;
    background: rgba($primaryRGB, 0.1);

    &:before {
      left: 0;
      right: 0;
      bottom: 0;
      content: '\00a0';
      position: absolute;
      transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      border-bottom: 1px solid rgba(0, 0, 0, 0.42);
      pointer-events: none;
    }

    &:after {
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      position: absolute;
      transform: scaleX(0);
      transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
      border-bottom: 2px solid #275682;
      pointer-events: none;
    }

    textarea {
      width: 100%;
      display: block;
      outline: none;
      color: $primary;
      line-height: 19px;
      padding-left: 12px;
      padding-top: 17px;
      font-weight: 600;
      font-size: 16px;
      font-family: $acumin_pro;
      background: transparent;
    }
  }

  &.active,
  &.filled {
    label {
      transform: translate(0, 0) scale(0.85) !important;
    }

    .textArea-field {
      background: none;

      textarea {
        padding-left: 0;
        font-size: 16px;
      }
    }
  }

  &.focus {
    label {
      transform: translate(0, 0) scale(0.85) !important;
    }

    .textArea-field {
      background: none;

      &:before {
        border-bottom: 1px solid rgba(0, 0, 0, 0.42);
      }

      &:after {
        transform: scaleX(1);
      }

      textarea {
        padding-left: 0;
      }
    }
  }
}

.textAreaField {
  label {
    margin-bottom: 5px;
    display: block;
    font-size: 13px;
  }

  .textArea-field {
    textarea {
      width: 100%;
      background: $white;
      padding: 10px;
      @include border-radius(4px);
      border: 1px solid rgba(0, 0, 0, 0.3);
      resize: none;
      outline: none;
      font-family: $acumin_pro;
    }
  }
}
