@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.EVCheckbox svg {
  height: 24px !important;
  width: 24px !important;
  // color: $primary;
}
.lightBackground {
  background-color: #f6f6f6;
  padding: 10px;
  margin-left: 0 !important;
}
.required{
  color:'red';
}
.defalutDivClass{
  margin-bottom: 5px;
}
.extraSpaceDivClass{
  margin-bottom: 30px;
  h5 {
    &.noTitleSpace {
      margin-bottom: 0;
    }
  }
  &.custmdetails {
    .custmdetails {
      margin-bottom: 10px;
    }
  }
}
.switchButtonContent {
  font-size: 10.5pt;
  // color: $primary !important;
  font-weight: $font_light;
  > div {
    display: inline-block;
  }
  &.moreChange {
    margin-left: 0;
    height: 100%;
    align-items: center;
  }
}
.title_head{
  font-size: 9pt !important;
  color: $textColor !important;
  font-weight: $font_light;
  text-transform: uppercase;
  letter-spacing: 1px;
  .help_icons {
    margin-left: 5px;
  }
}
.noCapitalCase{
  text-transform: none;
}

.shippingAddressSpace{
  margin-bottom: 30px;
  .shippingAddressSpace {
    margin-bottom: 0;
  }
}
