@import "styles/global-styles.scss";
@import "styles/variables.scss";

.managePaymentContainer{
    max-width: 492px;
    width: 100%;
    margin: 40px auto;
    .managePaymentTitle{
        font-family: "Knockout";
        font-style: normal;
        font-weight: normal;
        font-size: 56px;
        line-height: 44.8px;
        text-transform: uppercase;
        color: $black;
        margin-bottom: 22px;
    }
    .ccForm{
        .ccBlock{
            border-bottom: none;
        }
    }
    .ccInnerContainer{
        header {
            background-color: #fff !important;
            box-shadow: none !important;
            border-bottom: 1px solid #f3f4f5;
            div[role=tablist]{
                button {
                    width: 50% !important;
                }
                button[aria-selected=true] span {
                    font-family: "Roboto";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    color: #000;
                    text-transform: none;
                }
                button[aria-selected=false] span {
                    font-family: "Roboto";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    color: #6f7274;
                    text-transform: none;
                }
            } 
            .MuiTabs-indicator {
                background-color: #fbcd44 !important;
            }
        }
        .creditCardTab, .bankTransferTab{
            >div{
                padding: 0px;
            }
        }
        .saveBtnBlock{
            margin-top: 20px;
            justify-content: center;
            .savePaymentBtn{
                background: $btnBgText;
                border-radius: 4px;
                font-family: "Roboto Condensed";
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                color: $white;
                text-transform: none;
                max-width: 320px;
                width: 100%;
                &:disabled, button[disabled]{
                    background: $light-grey;
                    color: $labelColor;
                    cursor: default;
                    pointer-events: none;
                }
                &:focus, &:hover{
                    background: $btnBgText;
                    color: $white;
                }
            }
        }
        .newCard_text{
            font-family: "Roboto";
            font-size: 25px;
            color: #000000;
            letter-spacing: -0.12px;
            margin: 0px 0px 20px 10px !important;
        }
    } 
}

@media screen and (max-width:320px){
    .managePaymentContainer{
        padding: 0 15px;
    }
}

@media screen and (min-width:320px) and (max-width:599px) {
    .managePaymentContainer{
        max-width: 327px;
        width: 100%;
        margin: 30px auto;
        
    }
}