@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.maskTextField {
  position: relative;

  + .required {
    bottom: -61px;
  }

  &.filled {
    label {
      left: 0px;
      letter-spacing: 1px;
      transform: translate(0, 2px) scale(0.85) !important;
    }

    .maskTextFieldInput {
      background: transparent;
    }
  }

  .maskTextFieldFocus {
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    position: absolute;
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    border-bottom: 2px solid $primary;
    pointer-events: none;
    display: block;
  }

  .maskTextFieldInput {
    padding: 17px 12px 11px 0;
    color: $primary;
    font-weight: 600;
    line-height: 18px;
    font-size: 15px;
    position: relative;
    width: 100%;
    outline: none;
    z-index: 2;
    background: $fourth;
    font-family: $acumin_pro;

    &:focus,
    &.Mui-focused {
      // background: $primary_light;
      background: transparent;
    }

    &:focus {
      + label {
        left: 0px;
        letter-spacing: 1px;
        transform: translate(0, 2px) scale(0.85) !important;

        + .maskTextFieldFocus {
          transform: scaleX(1);
        }
      }
    }
  }

  &:before {
    left: 0;
    right: 0;
    bottom: 0;
    content: '\00a0';
    position: absolute;
    transition: $primary 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid $primary;
    pointer-events: none;
    z-index: 3;
  }

  label {
    color: $primary;
    font-weight: $font_normal;
    transform: translate(0, 16px) scale(1);
    line-height: 10pt;
    z-index: 3;
    font-size: 10pt;
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
      transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    display: block;
    transform-origin: top left;
    top: 0;
    left: 12px;
    position: absolute;
  }
}
